button {
    border-radius: 10px 0 0 0 !important;
}
.card{
    transition: all 0.4s ease;
}
.card:hover{
    cursor: pointer;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
.card-img-top{
    transition: all 1s ease;
}
.img-container:hover .card-img-top{
    transform: scale(1.2);
}
.img-container{
    position: relative;
    overflow: hidden;
}
.cart-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(100%, 100%);
    transition: all 1s ease;
    
}
.img-container:hover .cart-btn{
    transform: translate(0,0);
    
}